<?xml version="1.0"?>
<configuration>


  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
	  <add name="myConnectionstring" connectionString="Data Source=K2A-LUCASSANTOS\BITGROW;Initial Catalog=sistema;User ID=sa;Password=123;Integrated Security=False"/>
  </connectionStrings>
</configuration>